*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background:#f5f2ec;
}

.collections-page{
    width:100%;
    padding:120px 40px 200px;
}

.collections-header{
    margin-bottom:80px;
}

.collections-header h1{
    font-size:64px;
    font-family:"Italiana", serif;
    font-weight:400;
}

.collections-line{
    width:180px;
    height:3px;

    background:linear-gradient(
        to right,
        #c52a25 45%,
        black 45%
    );

    margin-top:8px;
}

.cards{
    width:100%;
    max-width:1400px;
    margin:auto;
    position: relative;
}

.card{
    position:sticky;
    top:30px;

    padding-top:40px;
}

.card__inner{
    transform-origin:center top;
    will-change:transform;
}

.collection-box{
    width:100%;
    height:700px;

    border-radius:22px;
    overflow:hidden;

    display:grid;
    grid-template-columns:1.1fr 1fr;

    box-shadow:0 15px 40px rgba(0,0,0,0.14);
}

.beige{
    background:#ccb29b;
}

.light{
    background:#c6b8ab;
}

.dark{
    background:#4d5356;
}

.collection-image{
    height:100%;
}

.collection-image img{
    width:100%;
    height:900px;
    object-fit:cover;
    display:block;
}

.collection-content{
    padding:45px 55px;

    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.card-link{
    text-decoration: none;
    color: inherit;
}

.collection-content h2{
    font-size:52px;
    line-height:1.05;

    font-family:"Italiana", serif;
    font-weight:400;

    color:black;
}

.dark h2{
    color:white;
}

.collection-content button{
    margin-top:24px;

    width:170px;
    height:46px;

    border:none;
    border-radius:8px;

    background:#c53030;
    color:white;

    cursor:pointer;

    font-size:14px;
}

@media(max-width:768px){

    .collections-page{
        padding:100px 16px 160px;
    }

    .collections-header h1{
        font-size:48px;
    }

    .collection-box{
        grid-template-columns:1fr;
        height:auto;
    }

    .collection-image{
        height:260px;
    }

    .collection-content{
        padding:28px;
    }

    .collection-content h2{
        font-size:36px;
    }

    .card{
        top:80px;
    }
}