<footer class="footer">

  <div class="footer-container">

    <div class="footer-left">

      <div class="logo">
        <div class="logo-icon">
          <img src="../logo-removebg-preview (1) 1.png" alt="logo">
         </div>

        <div class="logo-text">
          <h2>VIGHNESHWARA</h2>
          <span>MARBLES LLP</span>
        </div>
      </div>
      <div class="contact-info">

        <div class="contact-item">
          <i class="fa-solid fa-location-dot icon-outline"></i>
          <p>
            ph-2, near Ghagharburi Mandir,<br>
            Asansol, India, West Bengal
          </p>
        </div>

        <div class="contact-item">
          <i class="fa-solid fa-phone"></i>
          <p>+91 95934 33533</p>
        </div>

        <div class="contact-item">
          <i class="fa-solid fa-envelope"></i>
          <p>vighneshwaramarbles@gmail.com</p>
        </div>

      </div>

    </div>

    <div class="footer-links-section">

      <div class="footer-column">
        <h3>COMPANY</h3>

        <a href="about.html">About Us</a>
        <a href="collection.html">Collection</a>
        <a href="featured.html">Featured</a>
        <a href="new-arrivals.html">New Arrivals</a>
      </div>

      <div class="footer-column">
        <h3>PORTFOLIO</h3>

        <a href="our-work.html">Our Work</a>
        <a href="gallery1.html">Gallery</a>
        <a href="indoor.html">Indoor</a>
        <a href="outdoor.html">Outdoor</a>
      </div>

      <div class="footer-column">
        <h3>CONTACT</h3>

        <a href="#">Enquiries</a>
        <a href="#">All support & FAQs</a>

        <h3 class="social-title">SOCIALS</h3>

        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
</div>

    </div>

  </div>



</footer>