<nav class="navbar">

    <a href="index.html" class="nav-logo">
        <img src="../logo-removebg-preview (1) 1.png" alt="logo">
    </a>
    <div class="menu-btn" id="menu-btn">
        <i class="fa-solid fa-bars"></i>
    </div>

    <ul class="nav-links" id="nav-links">
        <li><a href="collection.html" class="active">Collection</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="gallery1.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>

</nav>